[MESSAGES CONTROL]
disable = 
    missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring,
    unused-argument,
    missing-final-newline,
    unused-import,
    trailing-whitespace,